

# The manual installation of packages behind a proxy in windows can be done by
# the following command:
#
#    pip --proxy http://<user>:<pw>@<domain>:<port> install <package>

sphinx >= 2.2.2
sphinx_rtd_theme >= 0.4.3

# Numpy > 1.15.4 does not work with CI (on travis we get the error message:
#     RuntimeError: implement_array_function method already has a docstring
numpy == 1.15.4

matplotlib >= 3.1.2